@import "../importable/colors.scss";

mat-toolbar {
  background: $light-pink;
  color: $pink;
}

mat-sidenav {
  width: 18.75rem;
  border-right: none;
  background: $pink;
  color: $white;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

a {
  color: $white;
}

.title {
  margin-left: 1.25rem;
}

.menu-button-texts {
  padding-left: 0.6rem;
}

.content {
  height: fit-content;
  padding-bottom: 3rem;
  border-radius: 0.6rem;
  margin: 1rem;
}

mat-sidenav-container {
  height: calc(100vh - 4rem);
  background-color: transparent;
}
