<div class="container">
  <h1 class="title">Memory card game</h1>
  <div>
    <button class="play-again-button" (click)="playAgain()">Play again</button>
    <app-time-counter
      [startTimer]="startTime"
      [isTimeStopped]="stopTimer()"
    ></app-time-counter>
  </div>
</div>
<h2 class="win-text" [@gameStatus]="gameStatus">You won</h2>
<div class="board">
  <app-game-card
    class="game-card"
    *ngFor="let card of cards"
    [cardData]="card"
    (cardClicked)="cardClicked(card)"
  ></app-game-card>
</div>
