mat-toolbar {
  background: rgb(219, 196, 196);
  color: rgb(139, 83, 102);
}

mat-sidenav {
  width: 300px;
  border-right: none;
  background: rgb(139, 83, 102);
  color: white;
  text-align: center;
  margin: 16px;
  padding: 16px;
}

a {
  color: white;
}

.title {
  margin-left: 20px;
}

.menu-button-texts {
  padding-left: 10px;
}

.content {
  height: fit-content;
  padding-bottom: 50px;
  border-radius: 10px;
  margin: 16px;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
  background-color: transparent;
}
