@import "../../importable/colors.scss";

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.navigation-button {
  background: linear-gradient(to bottom right, $light-pink, $pink);
  border-radius: 0.75rem;
  font-size: 1.5rem;
  padding: 2rem 6rem;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  margin-top: 5%;

  &:hover,
  &:focus {
    box-shadow: 0 0 0.25rem $black-alpha,
      -0.125rem -0.125rem 1rem $dark-pink-alpha,
      0.125rem 0.125rem 1rem $warm-gray-alpha;
  }
}

@media screen and (max-width: 37.5rem) {
  .home {
    flex-direction: column;
  }
  .navigation-button {
    padding: 1rem 3rem;
  }
}
