$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$light-pink: rgb(219, 196, 196);
$pink: rgb(139, 83, 102);
$dark-pink: rgb(99, 57, 71);

$black-alpha: rgba(0, 0, 0, 0.5);
$dark-pink-alpha: rgba(139, 83, 102, 0.5);
$warm-gray-alpha: rgba(219, 196, 196, 0.5);
